<div style="width: 50%; margin: auto;">
  <h2>Ontime Flight Information</h2>
</div>
<div style="width: 50%; margin: auto;">
  <p><a href="/airlines">Represented Airlines</a></p>
</div>
<div style="width: 50%; margin: auto;">
  <p><a href="/airline_most_least_delays">Airlines with Most/Least Delays</a></p>
</div>
<div style="width: 50%; margin: auto;">
  <p><a href="/city_depart_delays">Cities with Most/Least Delays</a></p>
</div>
