<!DOCTYPE html>
<html>
<head>
  <title>Ontime Flight Info</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css">
</head>
<body>
<%= yield %>
<div style="width: 50%; margin: auto;">
  <p><a href="/">Back to Home</a></p>
</div>
</body>
</html>