<!DOCTYPE html>
<html>
<head>
  <title>Pig Latin Translator</title>
</head>
<body>
<form action="/result">
  <label for="translate">Text to Pigify</label><br>
  <input type="text" id="translate"><br>
  <input type="submit">
</form>
</body>
</html>