<!DOCTYPE html>
<html>
<head>
  <title>Is there time?</title>
</head>
<body>
  <h1>The current time is: <%= Time.now %></h1>
  <p><%= 10 + 5 %></p>
  <p><%= "drop it".upcase %></p>
  <p><%= ["h", "o", "w", "d", "y"].join %></p>
</body>