<div class="left" style="display: inline-block; width: 25%; float: left;"> </div>
<div class="content" style="display: inline-block; width: 50%; ">
  <h3>Moviorama</h3>
  <ul>
    <% @index_results.each do |movie| %>
    <li style="list-style-type: none;"><a href="/movies/<%= movie["id"] %>"><%= movie["title"] %></a></li>
    <% end %>
  </ul>
</div>
<div class="right" style="display: inline-block; width: 25%; float: right;"> </div>